# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Output files
*.glb
*.ply
*.json
*.csv
*.log

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

tmp

outputs/